functions/.env*
pg
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store
.metro-health-check*
._*
*.log
.vscode
.firebase
.env*.local
*.uusver
.tamagui
android
.stagehand/
.generated/
tmp/
.tmp/
temp/
.temp/
repomix.xml
