name: CI

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-and-build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        bun: ['1.3.6']
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out the repository
        uses: actions/checkout@v2
      - name: Install Bun.js
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: ${{ matrix.bun }}
      - name: Install the dependencies
        run: bun install
      - name: Run tests
        run: bun run test
      - name: Build
        run: bun run build
      - name: Upload the build
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: dist

  # For some reason, the "action-wait-for-check" step in the other worklfows works
  # only if "ci" is a separate job. If "test-and-build" is renamed to "ci", that step
  # never detects the completion of the job.
  ci:
    needs: test-and-build
    runs-on: ubuntu-latest
    steps:
      - name: Finish successfully
        run: exit 0
